#map {
    height: 420px;
    width: 100%;
    background-color: lightgrey;
}

.igMedia {
    cursor: crosshair;
}

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

.imageGrid {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.header {
    text-align: center;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.errorMessage {
    text-align: center;
    padding-top: 190px;
    font-weight: bold;
    font-size: 20px;
}

.usernameMessage {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    vertical-align: text-bottom;
}

.welcomeMessage {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: lightgrey;
    margin-top: 10px;
}