{% extends "layout.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid show-grid">
			<div class="span8 header">
				
				{% if errorMessage %}
					<div class="alert alert-danger">
						<strong>Error</strong> {{ errorMessage }}
					</div>
				{% endif %}
				
				{% if loginUrl %}
					<button type="button" class="btn btn-info" onclick="location.href ='{{ loginUrl }}'">
						<img src='./images/instagram_icon.png' width="20" /> <b>Sign in with Instagram</b>
					</button>				
				{% endif %}
			
				{% if username %}
					<div class="span6 usernameMessage">
						<a href="http://www.instagram.com/{{ username }}" target="_blank">Hello @{{ username }}</a>
					</div>
					<div class="span6" align="right">
						<button type="button" class="btn btn-info" onclick="location.href = '/logout'">
							<b>Logout</b>
						</button>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="row-fluid show-grid">
			<div class="span4 imageGrid" align="center">
					{% if username %}
						<div class="row-fluid show-grid">
							<div class="span2"></div>
							<div id="imageGrid.img[1]" class="span4"></div>
							<div id="imageGrid.img[2]" class="span4"></div>
						</div>
						<div class="row-fluid show-grid">
							<div class="span2"></div>
							<div id="imageGrid.img[3]" class="span4"></div>
							<div id="imageGrid.img[4]" class="span4"></div>
						</div>
						<div class="row-fluid show-grid">
							<div class="span2"></div>
							<div id="imageGrid.img[5]" class="span4"></div>
							<div id="imageGrid.img[6]" class="span4"></div>
						</div>					
					{% else %}
						<p class="welcomeMessage">Welcome!</p>					
					{% endif %}			
			</div>
			<div class="span4">
				<div id="locationName" class="header"></div>
				<div id="map"></div>
			</div>
		</div>		
	</div>	
{% endblock %}
