<!DOCTYPE html>
<html>
    <head>
        <title>instaGeo</title>
		
		<link rel="icon" href="http://bananarepublic.gap.com/Asset_Archive/BRWeb/content/0010/006/161/assets/olapicIcon.png">
		
		<script type="text/javascript" src="script/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="script/instaGeo.js"></script>
		
		<script async defer src="{{ googleMapApiUrl }}"></script>

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('css/instaGeo.css') }}" rel="stylesheet" type="text/css" />
				
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
